@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    outline: none;
    font-family: poppins;
}
header{
    position: relative;
    top: 0;
}
header i {
    position: absolute;
    left: 47%;
    font-size: 70px;
}
main{
    position: relative;
    width: 350px;
    display: block;
    margin: auto;
    padding-top: 15%;

}
main .card{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;

}